<div class="b-user-list">

    <div class="b-user-list__title">User List</div>

    <div class="b-field-text">
        <input class="b-field-text__input  b-field-text__input_margin" type="text" placeholder="Filter by name" id="name">
    </div>

    <div class="b-user-list__list">
        <ul id="userList" class="b-all-user"></ul>
    </div>

</div>

