<div class="b-dish__image b-dish__image_padding"><img src="images/soup_icon.png" class="b-dish__image_picture"></div>
<div class="b-dish-info">
    <div class="b-dish-info__name">
        <div><strong>{{name}}</strong>
        <div class="b-dish-info__description">{{description}}</div></div>
    </div>

    <div class="b-dish-info__weight">{{weight}}</div>
    <div class="b-dish-info__price">{{price}} UAH</div>

    <div class="b-dish-info__button">
        <button class="js-button-add b-button b-button_green">ADD</button>
        <!-- style="width: 50px;padding-left: 10px;"-->
    </div>
</div>

<!--<div class="remove-user-dish"><img src="../images/delete.png"></div>-->
<!--<div class="remove-user-dish"><button class="small btn red" style="padding-left:10px;width: 30px;height: 30px;"> <span class="small material-icons white-text">delete</span> </button></div>-->