/node_modules
/.sass-cache
/public_html/resources
node_modules
npm-debug.log*
/minified
/build


/.idea
/LICENSE
=======
/app/public/minified
/app/public/css
/app/public/lib
/lib
js/*.min.js
js/views/previous/**
compiled/**
recycle/**
