<div class="b-user-list">

    <div class="b-user-list__title">Dish List</div>

    <div class="b-user-list__buttons">


        <div class="b-user-list-buttons">
            <div class="b-user-list-buttons__add-user">
                <button type="submit"  class="b-button-icon-text b-button-icon-text_green js-add-new-dish">
                    <i class="material-icons  b-button-icon-text__icon b-button-icon-text__icon_left">games</i>
                    <span class="b-button-icon-text__text">Add new dish</span>
                </button>
            </div>
            <div hidden class="b-user-list-buttons__save">
                <button type="submit"  class="b-button-icon-text b-button-icon-text_green js-save-dishes">
                    <i class="material-icons b-button-icon-text__icon b-button-icon-text__icon_left">done</i>
                    <span class="b-button-icon-text__text">Save all changes</span>
                </button>
            </div>

        </div>


    </div>

    <div class="b-user-list__filter">
        <div class="b-field-text b-field-text__input_left">
            <input class="b-field-text__input b-field-text__input_margin" type="text" placeholder="Filter by name" id="filter-name">
        </div>

    </div>

    <div class="b-user-list__list">
        <ul id="userList" class="b-all-user"></ul>
    </div>

</div>



