<div class="b-login-form">

    <div class="b-login-form__title">Sign in</div>
    <div class="b-login-form__list">


            <div class="b-login-input__login">
                <div class="b-field-text">
                    <input class="b-field-text__input b-field-text__input_margin js-name-input" type="text" placeholder="Login" name="mail" id="login-username">
                </div>
            </div>

            <div class="b-login-input__password">
                <div class="b-field-text">
                    <input class="b-field-text__input b-field-text__input_margin js-password-input" type="password" placeholder="Password" name="password" id="login-password" required  >
                </div>
            </div>


            <div class="b-login-input__submit-button">
                <button type="submit" id="submit-login" class="b-button-icon-text b-button-icon-text_main-color b-button-icon-text_bottom-margin">
                    <i class="material-icons right b-button-icon-text__icon b-button-icon-text__icon_left">person_pin</i>
                    <span class="b-button-icon-text__text">Login</span>
                </button>
            </div>
    </div>
</div>



