
<div class="login-wrapper">
    <form action="" method="post">
        <div class="card indigo card-padding login">
            <span class="input-title login-color-white">Sign in</span>

            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="" id="id-remove" type="text" class="validate" required pattern="^[A-Za-z .]{3,}$" title="ONLY TEXT AND ."><span class="login-mail">@engagepoint.com</span>
                    <label class="active" for="id-remove">LOGIN:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="" id="id-remove" type="text" class="validate" required pattern="^[A-Za-z 0-9]{3,}$" title="ONLY TEXT AND NUMBERS">
                    <label class="active" for="id-remove">PASSWORD:</label>
                </div>
            </div>

            <input type="submit" class="btn" value="LOGIN" id="submit-remove"/>
        </div>
    </form>
</div>


