        <div class="row s10 card indigo " id="user-day-menu" style="overflow-y: auto;">

        </div>
        <!--<div class="row s2 card indigo" style="margin-top:0;padding-top:0;">
            <span class="white-text"> Summary for day: 99 UAH</span><br>
            <span class="white-text" style="text-align: right;"> Summary for week: 99 UAH ?</span>
        </div>-->