<div class="col s12" style="text-align: center;">
    <span class="white-text text-lighten-2" style="font-size: 16px;"><strong>Описание</strong></span> <br />
    <hr class="white">
    <span class="white-text text-lighten-2" style="font-size: 14px;">{{ingridients}}</span>
    <button id="add-dish" class="btn orange darken-1" style="width: 100px;">Add</button>
</div>