<div class="col s12" style="text-align: center;">
    <br>
    <input class="white-text" type="text" placeholder="Filter by name" id="input-name">
    <select style="display: inline-block">
        <option value="1">1st dish</option>
        <option value="2">2nd dish</option>
        <option value="3">Something else</option>
        <option value="4">Cake</option>
    </select>
    <span class="white-text text-lighten-2" style="font-size: 16px;"><strong>Описание</strong></span> <br />
    <hr class="white">
    <span class="white-text text-lighten-2" style="font-size: 14px;">{{description}}</span>
    <!--<button id="add-dish" class="btn orange darken-1" style="width: 100px;">Add</button>-->
</div>