<nav>
    <div class="nav-wrapper">
        <img src="images/logo.png" class="demo-avatar">
        <a href="" class="brand-logo">EngagePoint Kitchen</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>user@engagepoint.com</li>
            <img src="images/user.jpg" class="demo-avatar avatar">
        </ul>
    </div>
</nav>
<div id="content"></div>
<div id="tabs"></div>