<div class="b-header">
        <div class="b-header__logo">
            <div class="b-logo">
                <div class="b-logo__image">
                    <img src="images/logo.png" class="b-logo__image_size">
                </div>
                <div class="b-logo__company-name">
                    <a href="" class="b-logo__company-name_title-style">EngagePoint Kitchen</a>
                </div>
            </div>
        </div>
        <div class="b-header__user-info">
            <div class="b-user-info">
                <div class="b-user-info__mail">user@engagepoint.com</div>
                <div class="b-user-info__avatar">
                    <img src="images/user.jpg" class="b-user-info__avatar_size">
                </div>
            </div>
        </div>
</div>

<div class="b-content js-content"></div>
<div style="clear: both;"></div>
<div class="b-footer">
    <div class="b-footer__text">&#174; 2015 EngagePoint, Inc.</div>
    <div class="b-footer__logo">
        <img src="images/logo.png" class="b-logo__image_size">
    </div>

</div>




