<div class="b-dashboard-nav">

    <div class="b-dashboard-nav__button">
        <a href="#dashboard">
            <button class="b-button-icon-text b-button-icon-text_main-color" >
                <i class="material-icons right b-button-icon-text__icon b-button-icon-text__icon_left">view_list</i>
                <span class="b-button-icon-text__text">Dashboard</span>
            </button>
        </a>
    </div>

    <div class="b-dashboard-nav__button">
        <a href="#menu">
            <button class="b-button-icon-text b-button-icon-text_main-color" >
                <i class="material-icons right b-button-icon-text__icon b-button-icon-text__icon_left">playlist_add</i>
                <span class="b-button-icon-text__text">Menu</span>
            </button>
        </a>
    </div>

</div>


