<div class="js-selected-day-menu"></div>
<div class="b-user-menu-card__summary">
    <div>Сумма: {{summary}} UAH</div>
    <button class="b-button-icon-text b-button-icon-text_green js-button-icon-save-day-menu">
        <span class="material-icons b-button-icon-text__icon b-button-icon-text__icon_left">done</span>
        <span class="b-button-icon-text__text">Save changes</span>
    </button>
</div>