<div class="b-dish__image b-dish__image_padding"><img src="images/oladi.jpg" class="b-dish__image_picture"></div>
<div class="b-dish__name">
    <strong>{{name}}</strong>
    <div class="b-dish__description">{{description}}</div>
</div>

<div class="b-dish__weight">100g</div>
<div class="b-dish__price">10 UAH</div>

<div class="b-dish__button">
    <button class="btn green darken-1" style="width: 100px;">Add</button>
</div>
<!--<div class="remove-user-dish"><img src="../images/delete.png"></div>-->
<!--<div class="remove-user-dish"><button class="small btn red" style="padding-left:10px;width: 30px;height: 30px;"> <span class="small material-icons white-text">delete</span> </button></div>-->