<br />
<img src="images/oladi.jpg" width="240"><strong>{{name}}</strong><br />10 UAH<br>
<button class="btn green darken-1" style="width: 100px;">Add</button>
<!--<div class="remove-user-dish"><img src="../images/delete.png"></div>-->
<!--<div class="remove-user-dish"><button class="small btn red" style="padding-left:10px;width: 30px;height: 30px;"> <span class="small material-icons white-text">delete</span> </button></div>-->