<div class="row">
    <div class="col s12">
        <div id="tabs">

        </div>
        <div style="clear: both"></div>
        <div class="card indigo" id="dishes-list">

        </div>
    </div>
</div>

