
    <div class="b-card-main">
        <div class="b-card-main__tabs js-card-main__tabs">

        </div>
        <div class="b-card-main__clear"></div>
        <div class="b-card js-card">

        </div>
    </div>
    <div class="b-user-menu-card">
        <div class="b-user-menu-card__menu js-user-menu-card__menu">

        </div>
    </div>

    <div class="b-card-main__clear"></div>
