
    <div class="b-card-main">
        <div class="b-card-main__tabs js-card-main__tabs">

        </div>
        <div class="b-card-main__clear"></div>
        <div class="b-card js-card">

        </div>
    </div>
    <div class="b-user-menu-card">
        <div class="b-user-menu-card__menu js-user-menu-card__menu">

        </div>
        <div class="b-user-menu-card__summary">
            <div class="b-user-menu-card-summary__price">
                Сумма: *** UAH
            </div>
            <button class="b-button-icon-text b-button-icon-text_green">
                <span class="material-icons b-button-icon-text__icon b-button-icon-text__icon_left">done</span>
                <span class="b-button-icon-text__text">Save changes</span>
            </button>
        </div>
    </div>

    <div class="b-card-main__clear"></div>
