<div class="row">
    <div class="b-card-main">
        <div id="tabs">

        </div>
        <div style="clear: both"></div>
        <div class="b-card" id="dishes-list">

        </div>
    </div>
    <div class="b-user-menu-card" style="">
        <div class="" id="user-day-menu">
qweqwe
        </div>
    </div>
</div>

