<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <img src="images/logo.png" class="demo-avatar">
        </ul>
        <a href="" class="brand-logo">EP Kitchen ADMIN</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>admin@engagepoint.com</li>
            <img src="images/user.jpg" class="demo-avatar avatar">
        </ul>
        <ul id="nav-mobile" class="right">
            <a href="#dish/add"><i class="material-icons">queue</i></a>
        </ul>
        <ul id="nav-mobile" class="right ">
            <a href="#statistic"><i class="material-icons">equalizer</i></a>
        </ul>
        <ul id="nav-mobile" class="right ">
            <a href="#userlist"><i class="material-icons">supervisor_account</i></a>
        </ul>
    </div>
</nav>

<div id="content"></div>





