<div class="b-dashboard-nav">

    <div class="b-dashboard-nav__button">
        <a href="#dashboard">
            <button class="b-button-icon-text b-button-icon-text_main-color" >
                <i class="material-icons right b-button-icon-text__icon b-button-icon-text__icon_left">assignment</i>
                <span class="b-button-icon-text__text">Dashboard</span>
            </button>
        </a>
    </div>

    <div class="b-dashboard-nav__button">
        <a href="#menu">
            <button class="b-button-icon-text b-button-icon-text_main-color" >
                <i class="material-icons right b-button-icon-text__icon b-button-icon-text__icon_left">note_add</i>
                <span class="b-button-icon-text__text">Next Week Menu</span>
            </button>
        </a>
    </div>

    <div class="b-dashboard-nav__button">
        <a href="http://localhost/user">
            <button class="b-button-icon-text b-button-icon-text_main-color" >
                <i class="material-icons right b-button-icon-text__icon b-button-icon-text__icon_left">perm_identity</i>
                <span class="b-button-icon-text__text">USER</span>
            </button>
        </a>
    </div>

</div>