<div class="buttons">
   <a class="btn indigo" href="#dashboard"><i class="material-icons right">assignment</i>Dashboard</a>
   <a class="btn indigo" href="#menu"><i class="material-icons right">note_add</i>Next Week Menu</a>
   <a class="btn indigo" href="http://localhost/user"><i class="material-icons right">perm_identity</i>USER</a>
</div>

