<div>
        <ul class="week-orders">
            <li class="orders">
                <div class="dayOrder indigo card">

                </div>
            </li>
            <li class="orders">
                <div class="dayOrder indigo card">

                </div>
            </li>
            <li class="orders">
                <div class="dayOrder indigo card">

                </div>
            </li>
            <li class="orders">
                <div class=" card indigo dayOrder">

                </div>
            </li>
            <li class="orders">
                <div class="dayOrder indigo card">

                </div>
            </li>

        </ul>
    </div>

    <div class="buttons">
        <a class="waves-effect waves-light btn  indigo"><i class="material-icons left">fast_rewind</i>PREVIOUS WEEK</a>
        <a class="waves-effect waves-light btn  indigo">EDIT</a>
        <a class="waves-effect waves-light btn  indigo"><i class="material-icons right">fast_forward</i>NEXT WEEK</a>
    </div>