<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#date1">Date 1</a></li>
            <li class="tab col s3"><a href="#date2">Date 2</a></li>
            <li class="tab col s3 disabled"><a href="#date3">Date 3</a></li>
            <li class="tab col s3"><a href="#date4">Date 4</a></li>
            <li class="tab col s3"><a href="#date5">Date 5</a></li>
        </ul>
    </div>
</div>

<div class="col s12" id="date1" style="text-align: center;">
    <div class="selected-dish">Оладушки с яблоками и карамелью<br />
        <img src="images/oladi.jpg" width="240"><br /> Weight: 100 g<br>Price: 10 UAH</div>
    <div class="selected-dish">Колбаски домашние с картофельным пюре<br />
        <img src="images/oladi.jpg" width="240"><br /> Weight: 100 g<br>Price: 10 UAH</div>
    <div class="selected-dish">Картофель запеченный по-французски с грибами и сыром<br />
        <img src="images/oladi.jpg" width="240"><br /> Weight: 100 g<br>Price: 10 UAH</div>
    <div class="selected-dish">Курица в лимонном маринаде с картофельным пюре
        <img src="images/oladi.jpg" width="240"><br /> Weight: 100 g<br>Price: 10 UAH</div>
    <div class="selected-dish">
        <a class="btn-floating btn-large waves-effect waves-light orange" style="margin-top:110px;"><i class="material-icons">add</i></a><!--padding-top: 110px;padding-right: 110px;-->
        <!--<button  class="mdl-button mdl-js-button mdl-button&#45;&#45;fab">
            <i class="material-icons">add</i>
        </button>-->
    </div>
</div>
<div class="col s12" id="date2">
    ewq
</div>
<div class="col s12" id="date3">
    ewq
</div>
<div class="col s12" id="date4">
    weq
</div>
<div class="col s12" id="date5">
    qeeew
</div>


