<div class="b-selected-dish__row">
    <div class="b-selected-dish-row__name">
        {{name}}
    </div>
    <div class="b-selected-dish-row__remove">
        <button class="b-button-icon b-button-icon_small b-button-icon_circle b-button-icon_red js-button-remove"> <span class="mdi mdi-delete"></span> </button>
    </div>
</div>
<div class="b-selected-dish-row__clear"></div>
<hr class="b-selected-dish__delimiter">
<!--<div class="remove-user-dish"><img src="../images/delete.png"></div>-->
<!--<div class="remove-user-dish"><button class="small btn red" style="padding-left:10px;width: 30px;height: 30px;"> <span class="small material-icons white-text">delete</span> </button></div>-->