.b-addDish-wrapper{
  text-align: center;
  margin-top: 60px;
  color: #fff;
}

.forms{
  margin-bottom: 30px;
}
.card-padding{
  padding: 25px;
}

.materialize-textarea{
  margin-top: 10px !important;
}

.input-title{
  display: inline-block;
  padding-bottom: 25px;
  font-size: 20px;
}



