@component navbar{
  width: 100%;
  height:50px;
  background-color: #464646;
}

@component primary-menu{
  height:50px;
  line-height: 50px;
  margin: 0 0 0 20px;
  font-size: 18px;


  @modifier none-decor{
    position: relative;
    padding: 0 25px 0 25px;
    color: #fff;
  }

  @modifier icon-center{
    position: absolute;
    line-height: 50px;
    top: -3px;
    left: 0;
    color: #fff;
  }
}




