@component card {
  width: 100%;
  background-color: #3f51b5;
  /*border: solid 1px color(#cccccc lightness(40%));*/
  /*padding-left: 10px;
  padding-right: 10px;*/

  @descendent dishes {
    padding-left: 1.5%;
    padding-bottom: 1.5%;
  }
}

@component card-main {

  background-color: #3f51b5;
  border: solid 1px color(#cccccc lightness(40%));
  /*padding-left: 10px;
  padding-right: 10px;*/

  @descendent text {
    padding-top: 8px;
    font-size: 16px;
    font-weight: 500;
  }
}