@component card {
  width: 100%;
  background-color: #464646;
  /*border: solid 1px color(#cccccc lightness(40%));*/
  /*padding-left: 10px;
  padding-right: 10px;*/

  @descendent dishes {
    padding-left: 1.5%;
    padding-bottom: 1.5%;
    border: 1px solid #666;
    @modifier no-top-border {
      border-top: none;
    }
  }
}

@component user-menu-card {
  width: 30%;
  background-color: #464646;
  display: inline-block;
  float: right;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;

  @descendent dishes {
    padding-left: 1.5%;
    padding-bottom: 1.5%;
  }

  @descendent menu {
    max-height: 600px;
    width: 100%;
    overflow-y: auto;
  }

  @descendent summary {
    text-align: center;
    color: #fff;
  }
}

@component user-menu-card-summary {
  @descendent price {
    text-align: center;
    color: #fff;
  }
}

@component card-main {
  float: left;
  width: 70%;
  background-color: #464646;
  //border: solid 1px color(#cccccc lightness(40%));
  /*padding-left: 10px;
  padding-right: 10px;*/

  @descendent text {
    padding-top: 8px;
    font-size: 16px;
    font-weight: 500;
  }

  @descendent clear {
    clear: both;
  }

  @descendent tabs {
    text-align: center;
    background-color: #CECCCC;
    height: 36px;

  }
}