#week-orders{
  padding-top: 100px;
  text-align: center;
}

.orders{
  display: inline-block;
  margin: 5px;
}

.buttons{
  text-align: center;
  margin-top: 20px;
}
.btn{
  width: 250px;
  margin: 5px;
  background-color: #3f51b5;
}

.dayOrder{
  width: 300px;
  height: 400px;
}

#dish-list{
  color: white;
  padding: 10px;
}

.order-date{
  text-decoration: underline;
  color: white;
  padding-top: 10px;
}

.order-list{
  margin-left: 30px;
}
#dish-list{
  text-align: left;
}

.ordersList{
  list-style:decimal;
}

.empty{
  text-align: center;
  margin: 70px 0 0 -30px;
  padding: 0;
}




