@component week-orders-list {
  padding-top: 100px;
  display: inline-flex;
  width: 100%;
  justify-content: center;

  @descendent list-point {
    display: inline-block;
    margin: 5px;
  }
}

@component user-day-menu-layer {
  width: 300px;
  height: 400px;
  background-color: #6E6E6E;
  border-radius: 20px;

  @descendent date {
    text-decoration: underline;
    color: white;
    padding-top: 10px;
    text-align: center;
  }

  @descendent list {

    margin-left: 30px;
    color: white;
    padding: 10px;
    text-align: left;

    @modifier empty {

      text-align: center;
      margin: 70px 0 0 -30px;
      padding: 0;
    }
  }
}

@component dashboard-nav {
  text-align: center;
  margin-top: 70px;

  @descendent button {
    display: inline-block;
    margin: 0 15px 15px 0;
  }

  @descendent list {
    margin-left: 30px;
    color: white;
    padding: 10px;
    text-align: left;

    @modifier empty {
      text-align: center;
      margin: 70px 0 0 -30px;
      padding: 0;
    }
  }

}
