$image_width: 50px;

@component dish {
  display: inline-block;
  border: solid 1px #000;
  width:98%;
  min-height:80px;
  margin: 10px 0 0 0;
  vertical-align: middle;
  color: #000;
  background-color: #fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  font-family: Roboto;
  font-weight: 500;

  @descendent image {
    lost-column: 1/12;
    display:inline-block;
    /*lost-column: 1/8;*/
    min-height:100%;
    position: relative;

    @modifier padding {
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
    }

    @modifier picture {
      width: $image_width;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      position: absolute;
      top: 15px; left: 15px; bottom: 0; right: 0;
    }
  }
}

@component selected-dish {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  @descendent row {
    width: 100%;
  }
  @descendent delimiter {
    border: 0 none;
    border-top: 1px dashed #fff;
    margin-top: 15px;
  }

}

@component selected-dish-row {
  @descendent name {
    lost-column: 6/7 0;
    text-align: center;
  }
  @descendent info {
    text-align: center;
    padding-top: 10px;
  }
  @descendent remove {
    lost-column: 1/7 0;
  }
  @descendent clear {
    clear: both;
  }
}

@component selected-dish-row-info {
  @descendent price {

  }
  @descendent quantity {

  }
}

@component dish-info {
  lost-column: 5/6;

  display:inline-flex;
  align-items: center;
  @descendent name {
    lost-column: 8/12;
    display:inline-flex;
    align-items: center;
    min-height:80px;
    font-size:18px;
  }

  @descendent weight {
    lost-column: 1/12;
    /*display:inline-flex;
    align-self: center;*/
    text-align: center;
    /*display:inline-block;*/

  }

  @descendent price {
    lost-column: 1/12;
    text-align: center;
    /*display:inline-block;*/
  }

  @descendent button {
    lost-column: 2/12;
    /*display:inline-block;*/
  }

  @descendent description {
    font-weight: 400;
    font-size:14px;
    display:block;
  }
}

.dish-info {
  span {
    cursor: pointer;
    font-size: 20px;
  }

  position: absolute;
  left:-1px;
  top:0px;
}

