@component footer{
  position: absolute;
  height: 75px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #031539;
  margin: 30px 0 0 0;

  @descendent text{
    color: #fff;
    font-size:;
    line-height: 70px;
    float:left;
    margin: 0 0 0 20px;
  }

  @descendent logo{
  float:right;
  margin: 0 20px 0 0;
  padding: 7px 0 0 0;


  }
}




