@component header{
  width: 100%;
  height:90px;
  background-color: #031539;
  display: inline-flex;
  justify-content: center;

  @descendent logo{
  width: 625px;
  height: 90px;
  }
  @descendent empty{
    width: 650px;
    height: 90px;
  }
  @descendent user-info{
    width: 625px;
    height: 90px;
  }
}

@component logo{
  float:left;
  width: 400px;
  height: 90px;
  margin: 0 0 0 20px;
  text-align: center;
  line-height: 90px;

  @descendent image {
  float:left;
  padding: 15px 0 0 0;

    @modifier size{
    height: 60px;
    width: 60px;
    }
  }

  @descendent company-name {
    font-size: 35px;

    @modifier title-style{
      text-decoration: none;
      color: #fff;
    }
  }
}


@component user-info{
  float:right;
  height: 90px;
  color: white;
  margin: 0 20px 0 0;
  text-align: center;
  line-height: 90px;

  @descendent mail{
    float:left;
    margin: 0 15px 0 0;
    font-size: 18px;
  }
  @descendent avatar{
    float:right;
    width:50px;
    height:50px;

    @modifier size{
      height: 55px;
      width: 55px;
      border-radius: 30px;
      margin: 16px 0 0 0;

    }
  }

}




