@component filters {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 10px;
  width: 98%;
  padding-top: 20px;
  @descendent filter {

  }
}

@component field-text {
  @descendent input {
    display: inline-block;
    margin-left: 15px;
    height: 40px;
    width: 250px;
    padding: 0 15px 0 15px;
    border: solid 1px #d4d4d4;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    color: #636363;
    &::-moz-placeholder {
      color: red;
    }

    &:-ms-input-placeholder {
      color: red;
    }

    &:hover {
      /*background-color: lighten(#fff, 5%);*/
    }

    &:active {
      /*   background-color: darken(#0074ad, 5%);*/
    }

    &:focus {
      outline: none;
    }

    &:-webkit-input-placeholder {
      color: #636363;
    }

    &:-moz-placeholder {
      color: #636363;
    }

    &:-moz-placeholder {
      color: #636363;
    }
    @modifier left {
      float: left;
    }
    @modifier margin {
      margin: 10px 0 10px 0;
    }
  }
}

@component field-select {
  margin-right: 15px;
  display: inline-block;
  height: 40px;
  width: 250px;
  overflow: hidden;
  background: url(../images/dropdown_arrow.png) no-repeat right #fff;
  background-position: 220px 50%;

  @modifier right {
    float: right;
  }

  @descendent input {
    display: block !important;
    background: transparent;
    height: 40px;
    width: 250px;
    padding: 0 15px 0 15px;
    border: solid 1px #d4d4d4;
    font-family: Roboto;
    font-size: 13px;
    color: #636363;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    &::-ms-expand {
      display: none;
    };
    &:hover {
      /*background-color: lighten(#fff, 5%);*/
    }
    &:active {
      /*   background-color: darken(#0074ad, 5%);*/
    }
    &:focus {
      outline:none;
    }

  }
}

@component field-text-area {
  @descendent input {
    display: inline-block;
    width:500px;
    padding: 10px 0 0 15px;
    margin: 10px 0 10px 0;
    height: 200px;
    margin-left: 15px;
    border: solid 1px #d4d4d4;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    color: #636363;
    &:-moz-placeholder {
      color: red;
    }

    &:-ms-input-placeholder {
      color: red;
    }

    &:hover {
      /*background-color: lighten(#fff, 5%);*/
    }

    &:active {
      /*   background-color: darken(#0074ad, 5%);*/
    }

    &:focus {
      outline: none;
    }

    &:-webkit-input-placeholder {
      color: #636363;
    }

    &:-moz-placeholder {
      color: #636363;
    }

    &:-moz-placeholder {
      color: #636363;
    }

    @modifier left {
      float: left;
    }

  }
}