.user-list-wrapper{
  color:white;
  padding: 10px 1px 1px 1px;
  margin-bottom: -19px;
  position: relative;
 }
.user-list-color-gold{
  color:gold;
}

.user-list{
  color:white;
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
}
.user-avatar{
  width: 75px;
  height: 75px;
}
.mb0{
margin-bottom: 0 !important;
}

.user-btn{
 margin-bottom: 3px;
}