/*@use precss;
@use postcss-bem {
    separators: {
        namespace: "b_",
        descendent: "__",
        modifier: "_"
    }
};
@use postcss-nested;
@use lost;
@use cssnext;*/


@import '_base.css';
@import '_header.css';
@import '_admin-navbar.css';
@import '_dashboard.css';
@import '_dishes.css';
@import '_addNewDish.css';
@import '_login.css';
@import '_userList.css';
@import '_fonts.css';


