<div class="b-filters">
    <div class="field-text b-field-text__input_left"><input class="b-field-text__input" type="text" placeholder="Filter by name" id="input-name"></div>
    <div class="b-field-select b-field-select_right">
    <select class="b-field-select__input">
        <option value="" selected disabled>Select dish category</option>
        <option value="0">All dishes</option>
        <option value="1">1st dish</option>
        <option value="2">2nd dish</option>
        <option value="3">Something else</option>
        <option value="4">Cake</option>
    </select>
        </div>

    <!--<span class="white-text text-lighten-2" style="font-size: 16px;"><strong>Описание</strong></span> <br />
    <hr class="white">
    <span class="white-text text-lighten-2" style="font-size: 14px;">{{description}}</span>-->
    <!--<button id="add-dish" class="btn orange darken-1" style="width: 100px;">Add</button>-->
    <!--<button class="b-button-icon-text b-button-icon-text_main-color"><i class="material-icons right b-button-icon-text__icon b-button-icon-text__icon_left">reorder</i><span class="b-button-icon-text__text">Dashboard</span></button>
    <button class="b-button-icon b-button-icon_circle"><i class="material-icons right b-button-icon__icon">settings_backup_restore</i></button>-->
</div>
