<div class="b-user-list">

    <div class="b-user-list__title">Add new dish</div>
    <form method="post" action="1.html" class="b-user-list__list">

        <div class="b-field-text">
            <input class="b-field-text__input b-field-text__input_margin" type="text" placeholder="Dish name" id="name">
        </div>

        <div class="b-field-text-area">
            <textarea class="b-field-text-area__input"   placeholder="Description" id="description"></textarea>
        </div>


        <button type="submit" id="submit" class="b-button-icon-text b-button-icon-text_main-color">
            <i class="material-icons right b-button-icon-text__icon b-button-icon-text__icon_left">games</i>
            <span class="b-button-icon-text__text">Add</span>
        </button>

    </form>

</div>
<div class="b-user-list">

    <div class="b-user-list__title">Edit Dish</div>
    <form method="post" class="b-user-list__list">

        <div class="b-field-text">
            <input class="b-field-text__input b-field-text__input_margin" type="text" placeholder="Dish ID" id="id-edit">
        </div>

        <div class="b-field-text">
            <input class="b-field-text__input b-field-text__input_margin" type="text" placeholder="Dish name" id="name-edit">
        </div>

        <div class="b-field-text-area">
            <textarea class="b-field-text-area__input"  placeholder="Description" id="description-edit"></textarea>
        </div>


        <button type="submit" id="submit-edit" class="b-button-icon-text b-button-icon-text_main-color">
            <i class="material-icons right b-button-icon-text__icon b-button-icon-text__icon_left">replay</i>
            <span class="b-button-icon-text__text">Edit</span>
        </button>


    </form>

</div>
<div class="b-user-list">

    <div class="b-user-list__title">Delete Dish</div>
    <form method="post" class="b-user-list__list">
        <div class="b-field-text">
            <input class="b-field-text__input b-field-text__input_margin" type="text" placeholder="Dish ID" id="id-remove">
        </div>

        <button type="submit" id="submit-remove" class="b-button-icon-text b-button-icon_red b-button-icon-text_main-color">
            <i class="material-icons right b-button-icon-text__icon b-button-icon-text__icon_left">delete</i>
            <span class="b-button-icon-text__text">Delete</span>
        </button>


    </form>

</div>

