<div class="row">
    <div class="col offset-m2 m8 s12">

        <div class="row s10 card indigo ">
            <div class="user-list">User List</div>
            <ul id="userList"></ul>

        </div>


    </div>
</div>