<div>
        <ul id="week-orders"></ul>
</div>
    <div class="buttons">
        <a class="btn  indigo"><i class="material-icons left">done</i>CURRENT WEEK</a>
        <a class="btn  indigo"><i class="material-icons right">fast_forward</i>NEXT WEEK</a><br>
        <a class="btn  indigo" href="#menu"><i class="material-icons right">reorder</i>EDIT</a>
    </div>
