<div>
        <div id="week-orders" class="b-week-orders-list"></div>
</div>
    <div class="buttons">
        <a class="btn current-week indigo" href="#dashboard"><i class="material-icons left">done</i>CURRENT WEEK</a>
        <a class="btn next-week indigo" href="#dashboard/NextWeek"><i class="material-icons right">fast_forward</i>NEXT WEEK</a><br>
        <a class="btn edit indigo" href="#menu"><i class="material-icons right">reorder</i>EDIT</a>
    </div>
