<div class="b-dashboard-list">
    <div class="b-dashboard-list__title">Week Menu</div>
    <div class="b-dashboard-list__content">
        <div id="week-orders" class="b-week-orders-list"></div>
    </div>
    <div class="b-dashboard-list__order-sum">Order Sum - {{sum}}</div>
    <div class="b-dashboard-list__dashboard-nav">
        <div class="b-dashboard-nav">
            <div class="b-dashboard-nav__button">

                <button disabled class="b-button-icon-text b-button-icon-text_green js-current-week">
                    <i class="material-icons  b-button-icon-text__icon b-button-icon-text__icon_left">done</i>
                    <span class="b-button-icon-text__text">CURRENT WEEK</span>
                </button>

            </div>

            <div class="b-dashboard-nav__button">


                <button disabled class="b-button-icon-text b-button-icon-text_green js-next-week">
                    <i class="material-icons  b-button-icon-text__icon b-button-icon-text__icon_left">fast_forward</i>
                    <span class="b-button-icon-text__text">NEXT WEEK</span>
                </button>

            </div><br>

            <div class="b-dashboard-nav__button">

                <button disabled class="b-button-icon-text b-button-icon-text_green js-edit-week">
                    <i class="material-icons  b-button-icon-text__icon b-button-icon-text__icon_left">reorder</i>
                    <span class="b-button-icon-text__text">EDIT</span>
                </button>

            </div>
        </div>
    </div>
</div>













