<h1>Dishes</h1>
<h2>Add new dish:</h2>
<div class="form">
    <label for="name">Name:</label>
    <br/>
    <input type="text" id="name"/>
    <br/>
    <label for="description">Description</label>
    <br/>
    <textarea id="description"></textarea>
    <br/>
    <input type="submit" id="submit"/>
</div>

<h2>Edit existing dish:</h2>
<div class="form-edit">
    <label for="id-edit">ID:</label>
    <br/>
    <input type="text" id="id-edit"/>
    <br/>
    <label for="name-edit">Name:</label>
    <br/>
    <input type="text" id="name-edit"/>
    <br/>
    <label for="description-edit">Description</label>
    <br/>
    <textarea id="description-edit"></textarea>
    <br/>
    <input type="submit" id="submit-edit"/>
</div>


<h2>Remove existing dish:</h2>
<div class="form-remove">
    <label for="id-remove">ID:</label>
    <br/>
    <input type="text" id="id-remove"/>
    <br/>
    <input type="submit" id="submit-remove"/>
</div>