<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/style.min.css">

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" media="screen,projection">
    <link rel="stylesheet" href="lib/vendor/Materialize/dist/css/materialize.css">
    <!-- <script type="text/javascript" src="lib/vendor/jquery/dist/jquery.js"></script>
     <script src="lib/vendor/Materialize/dist/js/materialize.js"></script>-->
    <script data-main="js/user/Main" type="text/javascript" src="lib/vendor/requirejs/require.js"></script>
</head>
<body>
<div id="application"></div>


</body>
</html>