<div class="b-user-list">

    <div class="b-user-list__title">Payment List</div>
    <div class="b-statistic-list"><div class="b-statistic-list__personal-info">
        <div class="b-statistic-list__order-sum b-statistic-personal-info_left">
            <div><strong>Name</strong></div>
        </div>
    </div>
    <div class="b-statistic-list__order-sum statistic-personal-info_left">
        <div><strong>Summary</strong></div>
    </div>
    <div class="b-statistic-list__order-sum statistic-personal-info_left">
        <div><strong>Status</strong></div>
    </div>
    </div>
    <div class="js-statistic-list"></div>
    <div class="b-dashboard-list__dashboard-nav">
        <div class="b-dashboard-nav">
            <div class="b-dashboard-nav__button">

                <button disabled class="b-button-icon-text b-button-icon-text_green js-statistic-current-week">
                    <i class="material-icons  b-button-icon-text__icon b-button-icon-text__icon_left">done</i>
                    <span class="b-button-icon-text__text">CURRENT WEEK</span>
                </button>

            </div>

            <div class="b-dashboard-nav__button">


                <button disabled class="b-button-icon-text b-button-icon-text_green js-statistic-next-week">
                    <i class="material-icons  b-button-icon-text__icon b-button-icon-text__icon_left">fast_forward</i>
                    <span class="b-button-icon-text__text">NEXT WEEK</span>
                </button>

            </div><br>

        </div>
    </div>
</div>



