<div class="b-statistic-list__personal-info">
    <div class="b-statistic-personal-info js-payment-status">
        <div class="b-statistic-personal-info__name">{{firstName}}&nbsp</div>
        <div class="b-statistic-personal-info__last-name">{{lastName}}</div>
    </div>
</div>
<div class="b-statistic-list__order-sum">
    <div>{{orderSum}} hrn.</div>
</div>
<div class="b-statistic-list__payment-status-button">
    <button class="js-button-paid-status b-button ">Paid</button>
</div>


