<div class="b-weekOrder">

    <div class="b-weekOrder-list">
        <div class="b-ord-header">
            <div class="b-ord-header__name">Наименование</div>
            <div class="b-ord-header__price">Цена</div>
            <div class="b-ord-header__quantity">Количество</div>
            <div class="b-ord-header__totalsum">Стоимость</div>
        </div>
    </div>
</div>
