<div class="b-dashboard-list">
    <div class="b-dashboard-list__title">Week Menu</div>
    <div class="b-dashboard-list__content">
        <div id="week-orders" class="b-week-orders-list"></div>
    </div>
</div>













